/* Global Styling */
body {
    font-family: 'Arial', sans-serif;
    /* border: solid; */
    margin: 0;
    padding: 0;
    background-color: #ffeace;
    color: #333;
   }
   
   
   /* Header and Navigation Styling */
   header {
       background-color: #F08700;
       color: #ffffff;  
       padding: 20px;
       text-align: center;
   }
   
   header h1 {
       font-family: 'Arial', sans-serif;
       margin: 0px 0px 20px;
       font-size: 40px;
    }

    .header-link {
        color: white;
        font-weight: bold;
        margin: 0 15px;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        transition: text-decoration 0.2s;
      }
      
    .header-link:hover {
        text-decoration: underline;
        color: white;
    }

   .cart-badge {
    background: #408dd9;           
    color: white;
    border-radius: 50%;
    padding: 1px;
    font-size: 0.8rem;
    position: absolute;
    top: -8px;
    right: -25px;                  
    min-width: 24px;
    text-align: center;
    font-weight: bold;
  }

  .cart-card {
    min-width: 350px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    width: 80%;
    padding: 24px; 
  }
   
   nav ul li {
       display: inline;
       margin: 0 15px 0px 15px;
   }
   
   nav li a {
       color: #ffffff; /* White */
       text-decoration: none;
       font-size: 20px;
   }
   
   nav ul li a:hover {
       text-decoration: underline;
   } 
   
   
   /* Section Styling */
   section {
       padding: 30px;
       min-height: 400px;
       background-color: #ffffff; /* White */
       margin: 30px auto;
       border-radius: 10px;
       box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
       width: 80%;
   }
   
   
   /* Form Styling */
   form label {
       font-weight: bold;
       margin-bottom: 5px;
       display: inline-block;
       color: #cc5500; /* Burnt Orange */
   }
   
   form input[type="text"], form input[type="email"] {
       padding: 10px;
       margin: 10px 0;
       width: 80%;
       border: 1px solid #ddd;
       border-radius: 5px;
   }

   .chat-window-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
   
    /* Footer Styling */
    footer {
    background-color: #F08700;
    color: #ffffff; /* White */
    text-align: center;
    padding: 10px;
    width: 100%; /* Full width */
    /* Remove the fixed positioning */
    position: relative;
    }
   
   footer p {
       margin: 10;
   }
   
   /* Additional Styling */
   img {
       border-radius: 10px;
       margin: 20px;
   }
   
   /* Custom Highlight Section Styling */
   h2 {
       color: #355070;
   }
   
   h3 {
       color: #cc5500; 
   }
   
   hr {
       border: 0;
       height: 2px;
       background: #355070;
   }

   ol, ul {
    padding-left: 20px;
   }
   
   #results {
       text-align: center;
       color:red
   }